<div ng-controller="userController as userVM" ng-init="userVM.getRecentUsers()">
    <div class="container">
        <div class="row">
            <h3>Recent Users (Secured API)</h3>
            <br />
            <table class="table table-striped table-response">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date Visited</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in userVM.recentUsers">
                        <td align="center">
                            {{user.id}}
                        </td>
                        <td align="center">
                            {{user.name}}
                        </td>
                        <td align="center">
                            {{user.date}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>